@using WebProjectHackathon.BusinessLogic.Models
@model List<ProfessionModel>
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miracle Jobs</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <header>
        <div>
            <h1>Miracle Jobs</h1>
        </div>
        <nav>
            <a href="@Url.Action("index", "Home")">Головна</a>
            <a href="#contacts">Контакти</a>
        </nav>
    </header>

    <main>
        <h2 class="title">Знайди свою професію в ІТ</h2>

        <section class="professions">
            <div class="profession">
                <img class="img" src="/png/front.jpg" alt="Frontend Developer">
                <div class="info">
                    <h3 class="profession-title">@Model[0].Title</h3>
                    <br>
                    <p>@Model[0].Description</p>
                </div>
                <a href='@Url.Action("PageFrondEndMap", "Home")' class="btn">Шлях до професії</a>
            </div>

            <div class="profession">
                <img class="img" src="~/png/back.png" alt="Backend Developer">
                <div class="info">
                    <h3 class="profession-title">@Model[1].Title</h3>
                    <br>
                    <p>@Model[1].Description</p>
                </div>
                <a href='@Url.Action("PageBackEndMap", "Home")' class="btn">Шлях до професії</a>
            </div>

            <div class="profession">
                <img class="img" src=" /png/HR.jpg" alt="HR Manager">
                <div class="info">

                    <h3 class="profession-title">@Model[2].Title</h3>
                    <br>
                    <p>@Model[2].Description</p>
                </div>
                <a href='@Url.Action("PageHRMap", "Home")' class="btn">Шлях до професії</a>
            </div>

            <div class="profession">
                <img class="img" src=" /png/UI.jpg" alt="UX/UI Designer">
                <div class="info">
                    <h3 class="profession-title">@Model[3].Title</h3>
                    <br>
                    <p>@Model[3].Description</p>
                </div>
                <a href='@Url.Action("PageUXUIDesignerMap", "Home")' class="btn">Шлях до професії</a>
            </div>
        </section>
    </main>

    <footer id="contacts">
        <div class="footer-container">
            <p class="team"><b>Розроблено командою Miracle Jobs</b></p>

            <div class="developers">
                <div class="backend">
                    <p class="backend-title">Backend-розробники:</p>
                    <div class="backend-names">
                        <p>Глухінський Борис.</p>
                        <p>Цуркан Віталій.</p>
                    </div>
                </div>

                <div class="frontend">
                    <p class="frontend-title">Frontend-розробники:</p>
                    <div class="frontend-names">
                        <p>Михайленко Аліна.</p>
                        <p>Ласкава Вікторія.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
